# Fullstack (frontend/backend)
frontend/* @RestartDK @ADRIANDLT
backend/* @RestartDK @ADRIANDLT

# Infra (cloud/azure setup)
infra/* @albipuliga @paulopasso

# Security
.github/workflows/* @Wisammad

# Cloud Architect
infra/* @Matzmuda
frontend/* @Matzmuda
backend/* @Matzmuda

# Default Owner
* @RestartDK
